<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AzureApplicationServices" connectionString="User ID=minakov;Password=Bl1zzard;Pooling=false;Data Source=nu6b73y9n4.database.windows.net;Initial Catalog=Azure_XAF_AuthenticationDemoDB" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=XAF_AuthenticationDemoDB" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices_IIS" connectionString="User ID=Test4;Password=1tr.erweerT;Pooling=false;Data Source=minakov-w8;Initial Catalog=Azure_XAF_AuthenticationDemoDB" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
