<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="AzureApplicationServices" connectionString="User ID=minakov;Password=Bl1zzard;Pooling=false;Data Source=nu6b73y9n4.database.windows.net;Initial Catalog=Azure_XAF_AuthenticationDemoDB" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XAF_AuthenticationDemoDB" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices_IIS" connectionString="User ID=Test4;Password=1tr.erweerT;Pooling=false;Data Source=minakov-w8;Initial Catalog=Azure_XAF_AuthenticationDemoDB" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
        <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ClientServer_Wcf_StandartAuth.Server.CustomWcfSecuredDataServer">
        <endpoint address="" binding="basicHttpBinding" contract="DevExpress.ExpressApp.Security.ClientServer.Wcf.IWcfSecuredDataServer" />
        <!--wsHttpBinding-->
        <!--basicHttpBinding-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>